node_modules
npm-debug.log
.git
.gitignore
README.md
.env.example
.env
.env.local
storage/logs/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
.vscode
.idea
*.pem
.DS_Store
tmp
tmp_query_user.php
temp_patch.py
