APP_NAME="SportSync"
APP_ENV="production"
APP_KEY="base64:3udBepr4POYcQh60hP5NRT7b0at1jCYxH73ADkTWFyw="
APP_DEBUG="false"
APP_URL="https://sportssync-laravel-production.up.railway.app"
DB_URL="mysql://root:GwGTGIrCPOODzffZTXUogygYxcLMPLPv@viaduct.proxy.rlwy.net:23925/railway"
DB_CONNECTION="mysql"
DB_HOST="viaduct.proxy.rlwy.net"
DB_PORT="23925"
DB_DATABASE="railway"
DB_USERNAME="root"
DB_PASSWORD="GwGTGIrCPOODzffZTXUogygYxcLMPLPv"
SESSION_DRIVER="cookie"
SESSION_SECURE_COOKIE="true"
SESSION_DOMAIN="sportssync-laravel-production.up.railway.app"
PORT="8080"
WS_PORT="3000"
LOG_CHANNEL="stack"
LOG_STACK="single"
MAIL_MAILER="smtp"
MAIL_HOST="smtp.sendgrid.net"
MAIL_PORT="587"
MAIL_USERNAME="rellevejoanner@gmail.com"
MAIL_PASSWORD="hhxzxzzxodehgsmx"
MAIL_ENCRYPTION="tls"
MAIL_FROM_ADDRESS="noreply@sportssync.com"
MAIL_FROM_NAME="Sportssync"
WS_ALLOWED_ORIGINS="https://sportssync-laravel-production.up.railway.app"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
